{% include "common/head-tmp.html" %}
<link href="static/css/jquery-dataTables/demo_table.css" rel="stylesheet">
{% if not weiboSession %}
    <iframe style="display:none" src="createSinaWeiboSession.htm"></iframe>
{% endif %}
<section id="main-content">
    <section class="wrapper">
        <section class="panel">
            <header class="panel-heading">
                微博关注（关注人）
            </header>
            <div class="panel-body">
                <div class="btn-group">
                    <a href="#add-weibo-user-panel" data-toggle="modal" class="btn btn-xs btn-success">
                        关注人 <i class="icon-plus"></i>
                    </a>
                </div>
                <div class="adv-table">
                    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered"
                           id="hidden-table-info">
                        <thead>
                        <tr>
                            <th width="60%">关注人</th>
                            <th width="20%">微博</th>
                            <th width="20%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeU">
                                <td>{{ rss.rssName }}</td>
                                <td>{{ rss.rssURL }}</td>
                                <td><a href="#">更新</a>&nbsp;&nbsp;<a href="#">删除</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>
</section>
<div aria-hidden="true" role="dialog" tabindex="-1" id="add-weibo-user-panel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">关注微博人</h4>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group m-bot15">
                        <input type="text" class="form-control" id="search-user">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"
                                    id="search-button">搜索 <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:(function(){searchWeiboUsers('sina');$('#search-button').html('新浪微博<span class=\'caret\'></span>')})()">新浪微博</a>
                                </li>
                                <li>
                                    <a href="javascript:(function(){searchWeiboUsers('twitter');$('#search-button').html('twitter<span class=\'caret\'></span>')})()">twitter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <section class="panel tasks-widget">
                        <header class="panel-heading">
                            搜索结果
                        </header>
                        <div class="panel-body">
                            <div class="task-content">
                                <ul class="task-list">
                                    <li>
                                        <div class="task-title" id="user-search-result">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "common/js-source.html" %}
<script src="static/javascript/base/jquery.dataTables.js"></script>

<script type="text/javascript">
    /* Formating function for row details */
    function fnFormatDetails(oTable, nTr) {
        var aData = oTable.fnGetData(nTr);
        var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
        sOut += '<tr><td>Rendering engine:</td><td>' + aData[1] + ' ' + aData[4] + '</td></tr>';
        sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
        sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
        sOut += '</table>';

        return sOut;
    }

    $(document).ready(function () {
        /*
         * Insert a 'details' column to the table
         */
        var nCloneTh = document.createElement('th');
        var nCloneTd = document.createElement('td');
        nCloneTd.innerHTML = '<img src="static/css/jquery-dataTables/images/details_open.png">';
        nCloneTd.className = "center";

        $('#hidden-table-info thead tr').each(function () {
            this.insertBefore(nCloneTh, this.childNodes[0]);
        });

        $('#hidden-table-info tbody tr').each(function () {
            this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
        });

        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#hidden-table-info').dataTable({
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [ 0 ] }
            ],
            "aaSorting": [
                [1, 'asc']
            ]
        });

        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#hidden-table-info tbody td img').bind('click', function () {
            var nTr = $(this).parents('tr')[0];
            if (oTable.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "static/css/jquery-dataTables/images/details_open.png";
                oTable.fnClose(nTr);
            }
            else {
                /* Open this row */
                this.src = "static/css/jquery-dataTables/images/details_close.png";
                oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
            }
        });
    });

</script>
<script type="text/javascript">
    function searchWeiboUsers(weiboType) {
        url = {
            "sina": "searchSinaWeiboUsers.htm"
        };
        $.ajax({
            url: url[weiboType],
            type:"post",
            data: {
                "screenName": $("#search-user").val()
            },
            dataType: "json",
            beforeSend: function () {
                coinfo.utils.addLoader($("#user-search-result"))
            },
            success: function (jsonData) {
                if ("sysCode" in jsonData) {
                    $("#user-search-result").html("No data available");
                } else {
                    $("#user-search-result").html(coinfo.template.weiboUser(weiboType, jsonData))
                }
            }
        });
    }
    function subscribeWeiboUser(weiboType, userID, clickButton) {
        $.ajax({
            url: "subscribeInfo.htm",
            type: "post",
            data: {type: "weibo-user", weiboType: weiboType, subscribeUser: userID},
            dataType: "json",
            success: function (jsonData) {
                if (("sysCode" in jsonData) && (jsonData["sysCode"] == 0 || jsonData["sysCode"] == 1)) {
                    $(clickButton).removeClass("btn-success");
                    $(clickButton).addClass("btn-default");
                    $(clickButton).addClass("btn-default");
                    $(clickButton).find("span").html("已关注");
                    $(clickButton).attr("disbaled", true);
                }
            }
        });
    }
    function showSubscribeWeiboUser(){
        $.ajax({
            url:"",
            data:{},
            type:"post",
            dataType:"json",
            success:function(jsonData){

            }
        });
    }
</script>


{% include "common/foot-tmp.html" %}